<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @course_user.course %>
</p>

<p>
  <strong>User:</strong>
  <%= @course_user.user %>
</p>

<%= link_to 'Edit', edit_course_user_path(@course_user) %> |
<%= link_to 'Back', course_users_path %>
