<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>

  <% if !@user.courses.nil? && !@user.courses.blank? %>
    <% @user.courses.each do |c| %>
      <div><%= "#{c.id}, #{c.name}" %></div>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
